<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>SendService</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>BeautyLoginServlet</servlet-name>
    <servlet-class>com.servlet.BeautyLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BeautyLoginServlet</servlet-name>
    <url-pattern>/beauty-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CreateBeautyCardServlet</servlet-name>
    <servlet-class>com.servlet.CreateBeautyCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateBeautyCardServlet</servlet-name>
    <url-pattern>/create-beauty-card</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <servlet-class>com.servlet.CustomerLoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerLoginServlet</servlet-name>
    <url-pattern>/customer-login</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistCustomerServlet</servlet-name>
    <servlet-class>com.servlet.RegistCustomerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistCustomerServlet</servlet-name>
    <url-pattern>/regist-customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MerchantBindServlet</servlet-name>
    <servlet-class>com.servlet.MerchantBindServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MerchantBindServlet</servlet-name>
    <url-pattern>/merchant-bind</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryBeautyCardServlet</servlet-name>
    <servlet-class>com.servlet.QueryBeautyCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBeautyCardServlet</servlet-name>
    <url-pattern>/query-beauty-card</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryBeautyServlet</servlet-name>
    <servlet-class>com.servlet.QueryBeautyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryBeautyServlet</servlet-name>
    <url-pattern>/query-beauty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryMachineTypeServlet</servlet-name>
    <servlet-class>com.servlet.QueryMachineTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryMachineTypeServlet</servlet-name>
    <url-pattern>/query-machine-type</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegistBeautyServlet</servlet-name>
    <servlet-class>com.servlet.RegistBeautyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistBeautyServlet</servlet-name>
    <url-pattern>/regist-beauty</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WxNotifyServlet</servlet-name>
    <servlet-class>com.servlet.WxNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WxNotifyServlet</servlet-name>
    <url-pattern>/wx-pay-notify</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WxPayServlet</servlet-name>
    <servlet-class>com.servlet.WxPayServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WxPayServlet</servlet-name>
    <url-pattern>/wx-pay</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckMchServlet</servlet-name>
    <servlet-class>com.servlet.CheckMchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckMchServlet</servlet-name>
    <url-pattern>/check-mch</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetCustomerBuyCardServlet</servlet-name>
    <servlet-class>com.servlet.GetCustomerBuyCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCustomerBuyCardServlet</servlet-name>
    <url-pattern>/get-buy_card</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCustomerPsw</servlet-name>
    <servlet-class>com.servlet.UpdateCustomerPsw</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCustomerPsw</servlet-name>
    <url-pattern>/update-customer-psw</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateCardRemainTimesServlet</servlet-name>
    <servlet-class>com.servlet.UpdateCardRemainTimesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCardRemainTimesServlet</servlet-name>
    <url-pattern>/update-remaintimes</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OnlineCheckServlet</servlet-name>
    <servlet-class>com.servlet.OnlineCheckServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>OnlineCheckServlet</servlet-name>
    <url-pattern>/online-check</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>TestServlet</servlet-name>
    <servlet-class>com.servlet.TestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>GetMchOrderServlet</servlet-name>
    <servlet-class>com.servlet.GetMchOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetMchOrderServlet</servlet-name>
    <url-pattern>/mch-order</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UpdateMchUseTimeServlet</servlet-name>
    <servlet-class>com.servlet.UpdateMchUseTimeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateMchUseTimeServlet</servlet-name>
    <url-pattern>/update-mch-usetime</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>QueryMchRecordCount</servlet-name>
    <servlet-class>com.servlet.QueryMchRecordCountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>QueryMchRecordCount</servlet-name>
    <url-pattern>/query-mch-recordcount</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ManualBuyCardServlet</servlet-name>
    <servlet-class>com.servlet.ManualBuyCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManualBuyCardServlet</servlet-name>
    <url-pattern>/manual-buy-card</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>TransferLocalTimesServlet</servlet-name>
    <servlet-class>com.servlet.TransferLocalTimesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TransferLocalTimesServlet</servlet-name>
    <url-pattern>/transfer-local-times</url-pattern>
  </servlet-mapping>
</web-app>